.logoimg{
    margin-left: 30px;
}
.range{
    display: flex;
    justify-items: right;
}
.imgevent{
    width:100px; 
    height: auto;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}
.titre-h2{
 color: rgb(49, 49, 49);
 font-family: "Mulish-bold",Arial, Helvetica, sans-serif;
 font-size: 20px; 
}
.author{
    color: rgb(128, 128, 128);
    font-family: "Mulish",Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.article{
    width: 70%;
    max-width: 600px;
    background-color: rgb(204, 204, 204);
    padding: 30px;
    border-bottom: 1.5px solid;
    border-color: rgb(107, 107, 107);
    margin-left: auto;
    margin-right: auto;
}
.description{
    font-family: "Mulish",Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
    max-width: 400px;
    line-height: 15px;
    font-size: 15px;
}
.date{
    font-family: "Mulish",Arial, Helvetica, sans-serif; 
    color: rgb(71, 71, 71)

}

.icon{
    padding: 5px;
}
header{
    height: 40px;
    width: 100%;
    background-color: rgb(112, 112, 112);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    
}
main{
    margin-top: 25px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}
body{
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
}
@font-face{
    font-family: "Mulish-bold";
    src:url("Mulish/static/Mulish-bold.ttf");
}
@font-face{
    font-family: "Mulish";
    src:url("Mulish/static/Mulish-Medium.ttf");
}